.title-equipes {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: double;
}

#equipes {
    width: 70%;
    column-count: 2;
    column-gap: 5px;
    margin-left: 14%;
    margin-top: 50px;
    margin-left: 25%;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}

.card-img-top {
    object-fit: cover;
    margin-bottom: 15px;
}